@import '../variables/variables';

.topBar {
    color: grey;
    background-color: $primary_color;
    font-family: $font;
    font-size: 12px;
    height: $topbar_height;
}

.topBar p {
    float: left;
    margin-left: 10%;

}

.topBar a {
    color: grey;
    text-decoration: none;
    float: right;
    margin-right: 3%;
    line-height: $topbar_height;
}

