@import '../variables/variables';

.left {
    float: left;
}

.middle {
    margin-left: 4.5%; 
}

.right {
    float: right;
}

.socialMedia {
    background-color: $lightgray;
    height: $socialmedia_div_height;
    line-height: $socialmedia_div_height;
    margin-top: 25px;
}

.socialMediaContainer {
    width: $bottom_width;
    height: 100%;
    margin: auto;
}

.socialMedia a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    border: 2px solid $button_color;
    width: 30%;
    height: $socialmedia_button_height;
    line-height: $socialmedia_button_height;
    color: $button_color;
    font-family: $font;
    margin-top: 20px;
}
