@import './topBar/topBar';
@import './nav/nav';
@import './variables/variables';
@import './mainProduct/mainProduct';
@import './accordion/accordion';

body {
    margin: 0;
    background-color: $background_color;
}

.grayText {
    color: $lightgray;
}


