@import './topBar/topBar';
@import './nav/nav';
@import './variables/variables';
@import './mainProduct/mainProduct';
@import './accordion/accordion';
@import './otherProducts/otherProduct';
@import './newsletter/newsletter';
@import './socialmedia/socialmedia';
@import './footer/footer';
@import './media/768';
@import './media/414';


body {
    margin: 0 auto;
    background-color: $background_color;
    max-width: 1200px;
}





