.topBar {
  color: grey;
  background-color: #1c1c1f;
  font-family: "abel";
  font-size: 12px;
  height: 35px;
}

.topBar p {
  float: left;
  margin-left: 10%;
}

.topBar a {
  color: grey;
  text-decoration: none;
  float: right;
  margin-right: 3%;
  line-height: 35px;
}

.mainProduct {
  margin: 0 auto;
  max-height: 800px;
}

.mainImg {
  width: 50%;
  max-height: 800px;
}

.mainInfo {
  float: right;
  width: 50%;
  max-height: 800px;
}

.newProduct {
  background-color: #1c1c1f;
  color: #ffffff;
  width: 12%;
  font-family: "abel";
  text-align: center;
  margin-top: 0;
}

.inStock {
  color: #1c1c1f;
  font-family: "abel";
  margin-top: 0;
  margin-right: 2%;
  float: right;
}

.brand {
  display: block;
  margin: 0 auto;
}

.productInfo {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-family: "abel";
}

.price {
  font-weight: bold;
}

.addToCart {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  background-color: #1c1c1f;
  color: #ffffff;
  font-family: "abel";
  height: 25px;
  width: 50%;
  border: none;
}

/*RADIOBUTTONS*/
.container {
  display: inline-block;
  position: relative;
  width: 25px;
  height: 25px;
  line-height: 25px;
  font-weight: bold;
  border: 0.5px solid #1c1c1f;
  background-color: #ffffff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

/* Create overlay */
.selected {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
}

/* On mouse-over, add a grey background color */
.selected:hover {
  background-color: #ccc;
  opacity: 50%;
}

/* When the checkbox is checked, add a black background */
.container input:checked ~ .selected {
  background-color: #1c1c1f;
  color: #ffffff;
}

.collapsibleDiv {
  width: 90%;
  margin-left: 5%;
}

.collapsible {
  background-color: #f9f9f9;
  color: #d8d8d8;
  font-family: "abel";
  font-size: 6px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  padding: 16px;
  text-align: left;
  outline: none;
  font-size: 15px;
  border: none;
  border-bottom: 1px solid #d8d8d8;
  border-top: 1px solid #d8d8d8;
}

.active, .collapsible:hover {
  background-color: #141527;
}

.collapsible:after {
  content: '\2C5';
  color: #d8d8d8;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2C4";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.otherProductsContainer {
  display: block;
  margin: 50px auto;
  width: 80%;
  display: block;
  font-family: "abel";
}

.otherTopbar {
  height: 20px;
  margin-bottom: 20px;
}

.otherProduct {
  display: inline-block;
  margin-right: 1.3%;
  width: 23%;
  text-align: center;
  font-size: 12px;
  position: relative;
}

.imgLable {
  position: absolute;
  font-size: 9px;
  float: left;
  background-color: #141527;
  color: white;
  margin-top: 0;
  padding: 5px;
}

.otherProductImg {
  width: 100%;
}

.otherProductBrand {
  font-weight: bold;
}

.otherProductName {
  color: #d8d8d8;
}

.otherProductPrice {
  font-weight: bold;
}

.lable {
  float: left;
}

.strikethrough {
  text-decoration: line-through;
}

.redText {
  color: red;
  font-weight: bold;
}

.leftTopCorner {
  float: left;
  margin-top: 0;
  margin-bottom: 10px;
}

.rightTopCorner {
  margin-top: 0;
  float: right;
  text-decoration: none;
  color: #141527;
  margin-right: 2.5%;
}

.newsletter {
  position: relative;
  width: 80%;
  margin: 0 auto;
}

.newsletter img {
  width: 100%;
}

.newsletterTextDiv {
  position: absolute;
  bottom: 15%;
  left: 20%;
  color: white;
  font-family: "abel";
  text-align: center;
  width: 25%;
}

.newsletterHeader {
  font-size: 36px;
  font-weight: bold;
}

.newsletterText {
  font-size: 18px;
}

.emailDiv {
  position: absolute;
  bottom: 35%;
  left: 55%;
  width: 25%;
  height: 10%;
}

.email {
  font-family: "abel";
  width: 60%;
  height: 100%;
  border: none;
}

.emailButton {
  font-family: "abel";
  background-color: #141527;
  color: white;
  width: 35%;
  height: 100%;
  border: none;
  margin-left: -3px;
}

.left {
  float: left;
}

.center {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.right {
  float: right;
}

.socialMedia {
  background-color: #d8d8d8;
  height: 75px;
  line-height: 75px;
  margin-top: 25px;
}

.socialMediaContainer {
  width: 80%;
  height: 100%;
  margin: auto;
}

.socialMedia a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  border: 2px solid #141527;
  width: 250px;
  height: 35px;
  line-height: 35px;
  color: #141527;
  font-family: "abel";
  margin-top: 20px;
}

.footerBackground {
  background-color: black;
}

.footerContainer {
  width: 80%;
  margin: 0 auto;
}

.footerHeader {
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.footerBox {
  font-family: "abel";
  display: inline-block;
  width: 24%;
  color: #d8d8d8;
}

.footerBox a {
  text-decoration: none;
  display: block;
  padding-top: 10px;
  color: #d8d8d8;
}

.footerBox p {
  text-decoration: none;
  display: block;
  padding-top: 10px;
  color: #d8d8d8;
}

.seo {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  color: gray;
  font-family: arial;
  text-align: center;
}

.vistromContainer {
  height: 50px;
  line-height: 50px;
}

.vistrom {
  color: gray;
  font-family: "abel";
  text-align: center;
}

body {
  margin: 0 auto;
  background-color: #f9f9f9;
  max-width: 1200px;
  width: 1200px;
}

.grayText {
  color: #d8d8d8;
}

.bold {
  font-weight: bold;
}

nav {
  height: 70px;
  width: 100%;
  line-height: 70px;
  font-family: "abel";
  display: inline-block;
  text-align: center;
  border-bottom: 2px solid lightgray;
}

nav a {
  text-decoration: none;
  margin-left: 3%;
  color: #1c1c1f;
}

.leftNav {
  float: left;
  width: 40%;
}

.rightNav {
  width: 40%;
  float: left;
}

.logo {
  width: 19%;
  height: 60px;
  border: 1px solid gray;
  background-color: #d8d8d8;
  color: gray;
  float: left;
  text-align: center;
}

.shoppingcart {
  width: 20px;
}
/*# sourceMappingURL=styles.css.map */